---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argonaut-simple-bluegreen-deployment-blue
  labels:
    app: argonaut-simple-bluegreen
    version: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: argonaut-simple-bluegreen
      version: blue
  template:
    metadata:
      labels:
        app: argonaut-simple-bluegreen
        version: blue
    spec:
      containers:
        - name: argonaut-simple-bluegreen
          image: nginx:1.27
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "16Mi"
              cpu: "25m"
            limits:
              memory: "32Mi"
              cpu: "100m"
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: simple-blue-html
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argonaut-simple-bluegreen-deployment-green
  labels:
    app: argonaut-simple-bluegreen
    version: green
spec:
  replicas: 3
  selector:
    matchLabels:
      app: argonaut-simple-bluegreen
      version: green
  template:
    metadata:
      labels:
        app: argonaut-simple-bluegreen
        version: green
    spec:
      containers:
        - name: argonaut-simple-bluegreen
          image: nginx:1.27
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "16Mi"
              cpu: "25m"
            limits:
              memory: "32Mi"
              cpu: "100m"
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: simple-green-html
