---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argonaut-deployment-blue
  labels:
    app: argonaut
    version: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: argonaut
      version: blue
  template:
    metadata:
      labels:
        app: argonaut
        version: blue
    spec:
      containers:
        - name: argonaut
          image: nginx:1.27
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: blue-html
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argonaut-deployment-green
  labels:
    app: argonaut
    version: green
spec:
  replicas: 3
  selector:
    matchLabels:
      app: argonaut
      version: green
  template:
    metadata:
      labels:
        app: argonaut
        version: green
    spec:
      containers:
        - name: argonaut
          image: nginx:1.27
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: green-html

